/*******************************************************************************
 for vk.friends.js v1.0
*/
#vkfBlock #vkfButtonHolder #vkfButtonUp, #vkfBlock #vkfButtonHolder #vkfButtonDown {
  opacity: 0.8 ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)" ;
  filter: alpha(opacity=80) ;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 46px;
  height: 46px;
  margin: 2px;
  text-align: center;
  line-height: 46px;
  font-size: 41.4px;
  cursor: pointer;
  float: left;
  background-color: #aaa;
  color: #000;
}
#vkfBlock #vkfButtonHolder #vkfButtonUp:hover, #vkfBlock #vkfButtonHolder #vkfButtonDown:hover {
  opacity: 1 ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" ;
  filter: alpha(opacity=100) ;
}

#vkfBlock {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#vkfBlock #vkfList #vkfTempHolder, #vkfBlock #vkfList #vkfHolderPre, #vkfBlock #vkfList #vkfHolderNext, #vkfBlock #vkfList #vkfHolderNow {
  position: absolute;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  width: 200%;
  height: 100%;
}

#vkfBlock * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#vkfBlock {
  background-color: #333;
  overflow: hidden;
  width: 800px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
#vkfBlock #vkfButtonHolder {
  float: left;
  width: 50px;
  height: 100px;
}
#vkfBlock #vkfButtonHolder .vkfButtonDisable {
  opacity: 0.5 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
  filter: alpha(opacity=50) !important;
  cursor: default !important;
}
#vkfBlock #vkfList {
  float: left;
  width: 750px;
  height: 100px;
  position: relative;
}
#vkfBlock #vkfList #vkfTempHolder {
  top: 0;
}
#vkfBlock #vkfList #vkfHolderPre {
  top: -100px;
}
#vkfBlock #vkfList #vkfHolderNext {
  top: 100px;
}
#vkfBlock #vkfList #vkfHolderNow {
  top: 0;
}
#vkfBlock #vkfList .vkfFriend {
  margin: 4px 2px;
  width: 103.14286px;
  height: 92px;
  float: left;
  background-color: #ddd;
  overflow: hidden;
  position: relative;
}
#vkfBlock #vkfList .vkfFriend .vkfName {
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
}
#vkfBlock #vkfList .vkfFriend .vkfAva {
  width: 97.14286px;
  height: 77px;
  margin-left: 3px;
}
#vkfBlock #vkfList .vkfFriend .vkfScore {
  position: absolute;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  color: #000;
}
#vkfBlock #vkfList .vkfInApp {
  outline: 2px solid #000;
  border-radius: 2px;
  font-weight: bold;
}
#vkfBlock #vkfList .vkfInvite .vkfAva {
  width: 90%;
  height: 90%;
  margin: 5%;
  text-align: center;
  line-height: 92px;
  font-size: 2em;
  color: #ddd;
  text-shadow: 0 0 2px #000;
  cursor: pointer;
}

/*# sourceMappingURL=vk.friends.css.map */
