/*******************************************************************************
 for vk.friends.js v1.0
*/

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
//$$$ Variables $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$globalFont: Arial, Helvetica, sans-serif;

$colorBGglobal: #333; //Global background
$colorBGbutton: #aaa; //buttons bg
$colorBGscore: #faf; //Score bg
$colorBGfriend: #ddd; //Score bg


$colorCbutton: #000; //buttons color
$colorCglobal: #111; //Score color

$countFriends: 7;

$widthFull: 800px;
$widthButHolder:50px;

$heightFull: 100px;

$nameHeight: 12px;

$marginButtons: 4px;
$marginFriends: 4px;

$smoothSlow: all 0.7s ease-out;
$smoothFast: all 0.3s ease-out;

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@ Mixins  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@mixin transition($opts...){
  -webkit-transition: $opts;
  transition: $opts;
}

@mixin border-radius($opts...) {
  border-radius: $opts; 
  background-clip: padding-box; 
}

@mixin opacity($value, $important: false){
  $IEValue: $value*100;
  $imp: if($important != false, '!important', '');
  opacity:  $value #{$imp};
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")" #{$imp};
  filter: alpha(opacity=$IEValue) #{$imp};
}

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
//%%% Templates (Placeholders) %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%button{
  @include opacity(0.8);
  @include border-radius(3px);
  @include transition($smoothFast);
  $size: $widthButHolder - $marginButtons;
  width:$size;
  height:$size;
  margin: $marginButtons/2;
  text-align:center;
  line-height:$size;
  font-size:$size - ($size / 100) * 10;
  cursor:pointer;
  float:left;
  background-color: $colorBGbutton;
  color:$colorCbutton;
  &:hover{
    @include opacity(1);
  }
}

%unselectable{
  -webkit-user-select:  none;
  -khtml-user-select:   none;
  -moz-user-select:     none;
  -o-user-select:       none;
  user-select:          none; 
}

%holder{
  position:absolute;
  @include transition(all 0.7s);
  width:200%;
  height: 100%;
} 
//..............................................................................
//... Structure ................................................................
//..............................................................................

#vkfBlock *{
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

#vkfBlock{
  @extend %unselectable;
  background-color: $colorBGglobal;
  overflow: hidden;
  width: $widthFull;
  height: $heightFull;
  font-family: $globalFont;
  #vkfButtonHolder{
    float:left;
    width: $widthButHolder;
    height:$heightFull;

    #vkfButtonUp{
      @extend %button;
    }
    #vkfButtonDown{
      @extend %button;
    }

    .vkfButtonDisable{
      @include opacity(0.5, important);
      cursor: default !important;
    }
  }

  #vkfList{
    $holderWidth:$widthFull - $widthButHolder;
    
    $vkfH: $heightFull - $marginFriends - $marginFriends;
    $vkfW: $holderWidth / $countFriends - $marginFriends;
        
    float:left;
    width:$holderWidth;
    height:$heightFull;
    position: relative;
    #vkfTempHolder{
      @extend %holder;
      top:0;
    }
    #vkfHolderPre{
      @extend %holder;
      top: -$heightFull;
    }
    #vkfHolderNext{
      @extend %holder;
      top: $heightFull;
    }
    #vkfHolderNow{
      @extend %holder;
      top: 0;
    }



    .vkfFriend{
      margin: $marginFriends $marginFriends / 2;
      width: $vkfW;
      height: $vkfH;
      float:left;
      background-color: $colorBGfriend;
      overflow: hidden;
      position: relative;
      .vkfName{
        height: $nameHeight;
        line-height: $nameHeight;
        font-size: ($nameHeight - 2px);
        text-align: center;
        overflow:hidden;
      }
      .vkfAva{
        width: $vkfW - ($nameHeight / 2);
        height: $vkfH - ($nameHeight * 1.25);
        margin-left: $nameHeight / 4;
      }

      .vkfScore{
        $tHW: $nameHeight * 3;
        position:absolute;
        height: $tHW;
        width: $tHW;
        text-align: center;
        font-size: $nameHeight * 1.5;
        line-height: $tHW;
        bottom:0;
        right: 0;
        background-color: $colorBGfriend;
        color: #000;
      }

    }
    .vkfInApp{
      outline: 2px solid $colorCbutton;
      border-radius:2px;
      font-weight: bold;
    }

    .vkfInvite{

      .vkfAva{
        width: 90%;
        height: 90%;
        margin: 5%;
        text-align: center;
        line-height: $vkfH; 
        
        font-size: 2em;
        color: $colorBGfriend;
        text-shadow: 0 0 2px $colorCbutton;
        
        cursor: pointer;
      }
    }
  } 
}